
<form method="post">
  <div class="form-group">  
    <input type="text" class="form-control" style="width:50%" [(ngModel)]="name" name="name" placeholder="Movie Name">
  </div>
  <div class="form-group">  
    <input type="number" class="form-control" style="width:50%" [(ngModel)]="age" name="age" placeholder="age">
  </div>
  <div class="form-group">  
    <input type="text" class="form-control" style="width:50%" [(ngModel)]="gender" name="gender" placeholder="gender">
  </div>
  <div class="form-group">  
    <input type="text" class="form-control" style="width:50%" [(ngModel)]="movies_directed" name="movies_directed" placeholder="movies directed">
  </div>

  <button type="button" style="margin-bottom: 50px" class="btn btn-success"  (click)="onSubmitDirector()">submit</button>
  
  <button type="reset" style="margin-bottom: 50px" class="btn btn-danger">clear</button>
  
</form>
