
<form method="post">
  <div class="form-group">  
    <input type="text" class="form-control" style="width:50%" [(ngModel)]="name" name="name" placeholder="Movie Name">
  </div>
  <div class="form-group">  
    <input type="text" class="form-control" style="width:50%" [(ngModel)]="description" name="description" placeholder="description">
  </div>
  <div class="form-group">  
    <input type="number" class="form-control" style="width:50%" [(ngModel)]="year" name="year" placeholder="Year">
  </div>
  <div class="form-group">  
    <input type="number" class="form-control" style="width:50%" [(ngModel)]="rating" name="rating" placeholder="Rating">
  </div>
  <div class="form-group">  
    <input type="text" class="form-control" style="width:50%" [(ngModel)]="directors" name="directors" placeholder="Directors">
  </div>
  <div class="form-group">  
    <input type="text" class="form-control" style="width:50%" [(ngModel)]="actors" name="actors" placeholder="Actors">
  </div>
  <div class="form-group">  
    <input type="text" class="form-control" style="width:50%" [(ngModel)]="movie_image" name="movie_image"  placeholder="image-url">
  </div>

  <button type="button" style="margin-bottom: 50px" class="btn btn-success"  (click)="onSubmitMovie()">submit</button>
  
  <button type="reset" style="margin-bottom: 50px" class="btn btn-danger">clear</button>
  
</form>
