    <h2>User</h2>
    <br>
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-group" >
                <li class="list-group-item" routerLinkActive="active" routerLink="./">use details</li>
                <li class="list-group-item" routerLinkActive="active" routerLink="add">add</li>
                <li class="list-group-item" routerLinkActive="active" routerLink="actor">Add Actor</li>
                <li class="list-group-item" routerLinkActive="active" routerLink="director">Add Director</li>
                <li class="list-group-item" routerLinkActive="active" routerLink="update">update</li>                
            </ul>
        </div>
    </div>
    <br>
    <br>
    <router-outlet></router-outlet>