<h2>User</h2>
<br>
<ul class="nav nav-tabs">
    <li class="list-group-item" routerLinkActive="active" routerLink="./">use details</li>
    <li class="list-group-item" routerLinkActive="active" routerLink="add">add Movie</li>
    <li class="list-group-item" routerLinkActive="active" routerLink="actor">Add Actor</li>
    <li class="list-group-item" routerLinkActive="active" routerLink="director">Add Director</li>
    <li class="list-group-item" routerLinkActive="active" routerLink="update">update</li>                
</ul>
<br>
<br>

<router-outlet></router-outlet>